django-compressor
python-dotenv
SQLAlchemy==1.4.46
affine==2.4.0
asgiref==3.7.2
astroid
attrs==23.1.0
branca==0.7.0
celery
certifi==2023.7.22
charset-normalizer==3.3.2
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
colorama==0.4.6
contourpy
channels
channels-redis
charset-normalizer
cycler
Django
django-appconf
django-celery-beat
django-celery-results
django-compressor
django-redis
fiona
fonttools
geopandas
gevent
greenlet
gunicorn
idna
Jinja2
kiwisolver
MarkupSafe
matplotlib
numpy
packaging
pandas
Pillow
pip
psycopg2
pyparsing
pyproj
python-dateutil
python-decouple
pytz
rasterio
redis
requests
requirements-detector
semver
setuptools
shapely
six
snuggs
sqlparse
toml
tzdata
urllib3
wheel
whitenoise
