affine
aiohttp
aiosignal
alembic
amqp
anyio
apache-airflow
apache-airflow-providers-common-compat
apache-airflow-providers-common-io
apache-airflow-providers-common-sql
apache-airflow-providers-fab
apache-airflow-providers-ftp
apache-airflow-providers-http
apache-airflow-providers-imap
apache-airflow-providers-smtp
apache-airflow-providers-sqlite
apispec
argcomplete
asgiref
astroid 
asttokens
attrs
autobahn
Automat
babel
backcall
beautifulsoup4
billiard
bleach
blinker
branca
cachelib
celery
certifi
cffi
channels
channels-redis
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
clickclick
cligj
colorama
colorlog
ConfigUpdater
connexion
constantly
contourpy
cron-descriptor
croniter
cryptography
cycler
daphne
decorator
defusedxml
Deprecated
dill
dj-database-url
Django
django-appconf
django-celery-beat
django-celery-results
django-compressor
django-redis
django-rest-passwordreset
django-timezone-field
dnspython
docopt
docutils
email_validator
executing
fastjsonschema
fiona
Flask
Flask-AppBuilder
Flask-Babel
Flask-Caching
Flask-JWT-Extended
Flask-Limiter
Flask-Login
Flask-Session
Flask-SQLAlchemy
Flask-WTF
folium
fonttools
frozenlist
fsspec
geopandas
gevent
google-re2
googleapis-common-protos
greenlet
grpcio
gunicorn
h11
httpcore
httpx
hyperlink
idna
importlib_metadata
importlib_resources
incremental
inflection
ipython
itsdangerous
jedi
Jinja2
jmespath
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_pygments
kafka-python
kiwisolver
kombu
lazy-object-proxy
limits
linkify-it-py
lockfile
Mako
markdown-it-py
MarkupSafe
marshmallow
marshmallow-oneofschema
marshmallow-sqlalchemy
matplotlib
matplotlib-inline
mdit-py-plugins
mdurl
memory-profiler
methodtools
mistune
more-itertools
msgpack
multidict
nbclient
nbconvert
nbformat
numpy
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
ordered-set
packaging 
pandas
pandocfilters
parso
pathspec
pendulum
pickleshare
Pillow
pipreqs
platformdirs
pluggy
prison
prompt_toolkit
propcache
protobuf
psutil
psycopg2
pure_eval
pyasn1
pyasn1_modules
pycparser
Pygments
PyJWT
pyOpenSSL
pyparsing
pyproj
python-crontab
python-daemon
python-dateutil
python-decouple
python-dotenv
python-nvd3
python-slugify
pytz
pywin32
PyYAML
pyzmq
rasterio
rcssmin
redis
referencing
requests
requests-toolbelt
requirements-detector 
rfc3339-validator
rich
rich-argparse
rjsmin
rpds-py
semver 
service-identity
setproctitle
setuptools
shapely
six
sniffio
snuggs
soupsieve
SQLAlchemy
SQLAlchemy-JSONField
SQLAlchemy-Utils
sqlparse
stack-data
tabulate
tenacity
termcolor
text-unidecode
time-machine
tinycss2
toml 
tornado
traitlets
Twisted
txaio
typing_extensions
tzdata
uc-micro-py
unicodecsv
universal_pathlib
urllib3
vine
wcwidth
webencodings
Werkzeug
wheel
whitenoise
wirerope
wrapt
WTForms
yarg
yarl
zipp
zope.event
zope.interface
